.scores {
    display: flex;
    justify-content: space-between;
    width: calc(var(--num-cols) * var(--cell-size));
    max-width: 90vw;
    padding: 5px;
}


#score, #highscore {
    font-size: clamp(18px, 5vw, 36px); /* Adatta la dimensione tra 18px e 36px */
    color: #333;
    font-weight: bold;
    font-family: 'Arcade', sans-serif;
    margin: 5px 0;
}

#highscore {
    display: none;
}

@media screen and (max-width: 768px), (max-height: 768px) {
    #score,  #highscore {
        font-size: clamp(16px, 6vw, 32px); /* Aumenta la leggibilità su schermi piccoli */
    }

}
