body {
    background-color: #FFCCE5;      /* Romantic background color */
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh;  /* Secure that body takes all the height of the window */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
canvas {
    border: 1px solid black;
  }